id-picture {
  background-color: black;
}

id-page-grid {
  padding: 2px;
}

/* Focus for the tabbed display. */
tabview scrolledwindow,
id-page-grid scrolledwindow {
  outline: 0 solid transparent;
  outline-offset: 0px;
  transition: outline-color 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
              outline-width 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
              outline-offset 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

tabview scrolledwindow:focus:focus-visible,
id-page-grid scrolledwindow:focus:focus-visible {
  outline-color: alpha(@accent_color, 0.5);
  outline-width: 2px;
  outline-offset: -2px;
}

/* Selection for the tiled display. */
id-page-grid id-page {
  outline: 2px solid transparent;
}

id-page-grid id-page.selected {
  outline-color: alpha(@window_fg_color, 0.6);
}

/* Border radius to match the window bottom corners when there's no controls revealer. */
window:not(.controls-visible):not(.tiled):not(.tiled-top):not(.tiled-bottom):not(.tiled-left):not(.tiled-right):not(.fullscreen):not(.maximized):not(.solid-csd)
id-page-grid.row id-page:first-child:dir(ltr),
window:not(.controls-visible):not(.tiled):not(.tiled-top):not(.tiled-bottom):not(.tiled-left):not(.tiled-right):not(.fullscreen):not(.maximized):not(.solid-csd)
id-page-grid.row id-page:last-child:dir(rtl),
window:not(.controls-visible):not(.tiled):not(.tiled-top):not(.tiled-bottom):not(.tiled-left):not(.tiled-right):not(.fullscreen):not(.maximized):not(.solid-csd)
id-page-grid.row id-page:first-child:dir(ltr) scrolledwindow,
window:not(.controls-visible):not(.tiled):not(.tiled-top):not(.tiled-bottom):not(.tiled-left):not(.tiled-right):not(.fullscreen):not(.maximized):not(.solid-csd)
id-page-grid.row id-page:last-child:dir(rtl) scrolledwindow
{
  border-bottom-left-radius: 11px;
}
window:not(.controls-visible):not(.tiled):not(.tiled-top):not(.tiled-bottom):not(.tiled-left):not(.tiled-right):not(.fullscreen):not(.maximized):not(.solid-csd)
id-page-grid.row id-page:last-child:dir(ltr),
window:not(.controls-visible):not(.tiled):not(.tiled-top):not(.tiled-bottom):not(.tiled-left):not(.tiled-right):not(.fullscreen):not(.maximized):not(.solid-csd)
id-page-grid.row id-page:first-child:dir(rtl),
window:not(.controls-visible):not(.tiled):not(.tiled-top):not(.tiled-bottom):not(.tiled-left):not(.tiled-right):not(.fullscreen):not(.maximized):not(.solid-csd)
id-page-grid.row id-page:last-child:dir(ltr) scrolledwindow,
window:not(.controls-visible):not(.tiled):not(.tiled-top):not(.tiled-bottom):not(.tiled-left):not(.tiled-right):not(.fullscreen):not(.maximized):not(.solid-csd)
id-page-grid.row id-page:first-child:dir(rtl) scrolledwindow
{
  border-bottom-right-radius: 11px;
}
window:not(.controls-visible):not(.tiled):not(.tiled-top):not(.tiled-bottom):not(.tiled-left):not(.tiled-right):not(.fullscreen):not(.maximized):not(.solid-csd)
id-page-grid.column id-page:last-child,
window:not(.controls-visible):not(.tiled):not(.tiled-top):not(.tiled-bottom):not(.tiled-left):not(.tiled-right):not(.fullscreen):not(.maximized):not(.solid-csd)
id-page-grid.column id-page:last-child scrolledwindow,
window:not(.controls-visible):not(.tiled):not(.tiled-top):not(.tiled-bottom):not(.tiled-left):not(.tiled-right):not(.fullscreen):not(.maximized):not(.solid-csd)
tabview scrolledwindow
{
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
}

#overlay-title {
  border-radius: 6px;
  margin: 6px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#controls {
  padding: 12px;
}

#media-properties-container {
  padding: 12px;
}

.drag-thumbnail {
  margin: 16px;
  border-radius: 5px;
  outline: 2px solid white;
  box-shadow: 0 0 10px rgba(0.4, 0.4, 0.4, 0.8);
  background-color: black;
}
